<div class="container" >
  <div class="auth-box">
    <div >
      <div class="header">
        <h2>Register</h2>
        <h4>Register your account using below information</h4>
      </div>

      <div class="form">
        <input type="text" name="giveName" placeholder="First Name" >
        <input type="text" name="faminlyName" placeholder="Last Name" >
        <input type="email" name="email" placeholder="Email address" autocomplete="off" >
        <input type="password" name="password" placeholder="Password">
        <div class="checkbox">
          <input type="checkbox">
          Show Password
        </div>
        <p>Already a member? <a href="/sign-in">Sign-in</a></p>
        <button>Register</button>
      </div>
    </div>
  </div>
</div>
