<div class="container" *ngIf="user">
  <div class="auth-box">
    <div>
      <div class="header">
        <img src="/assets/logo-ptit.png" alt="">
        <p>Work Space</p>
        <h2>Sign in to your account</h2>
      </div>

      <div class="form">
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="user.email" placeholder="Email address">
        <label for="password">Password</label>
        <input [type]="user.showPassword ? 'text' : 'password'" name="password" [(ngModel)]="user.password" placeholder="Password">
        <div>
          <input type="checkbox" [checked]="user.showPassword" (change)="user.showPassword = !user.showPassword">
          Show password
        </div>
        <p class="forgot-password">Forgot password</p>
        <p>Not a remember? <a href="/sign-up">Sign Up</a></p>
        <button (click)="signInWithCognito()">Login</button>
      </div>
    </div>
  </div>
</div>

<app-message-modal *ngIf="showAlert" (modalClose)="showAlert=false" [message]="alertMessage"></app-message-modal>
